---
interface Props {
  title: string;
  imageUrl: string;
  imageAlt: string;
  url: string;
}
const { title, imageUrl, imageAlt, url } = Astro.props;
---

<div
  class=" 2xl:w-[570px] 2xl:h-[412px] lg:w-[370px] lg:h-[268px] w-[320px] h-[231px] sm:w-[300px] sm:h-[217px] group relative cursor-pointer items-center justify-center transition-all ease-out animate-fade"
>
  <a href={url}>
    <div class=" 2xl:w-[570px] 2xl:h-[412px] xl:w-[370px] xl:h-[268px] w-[320px] h-[231px] sm:w-[300px] sm:h-[217px]">
      <img
        class="h-full w-full object-cover  duration-[20ms] ease-in transition-all group-hover:scale-[1.01] rounded-sm aspect-video"
        src={imageUrl}
        alt={imageAlt}
      />
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent"
    >
    </div>
    <div
      class="absolute inset-0 top-[95%] md:top-[95%] z-[100] text-center transition-all duration-300 ease-in-out group-hover:tracking-[0.4rem]  2xl:group-hover:tracking-[1rem] "
    >
      <h1 class="text-3xl lg:text-4xl 2xl:text-5xl font-normal uppercase text-white font-[oswald] ">
        {title}
      </h1>
    </div>
  </a>
</div>
