---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";


const items = [

  {
    imgUrl: "/assets/magneticas/mm-1.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-2.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-3.png",
    altData: "chapa magnetica",
  },
  {
    imgUrl: "/assets/magneticas/mm-4.png",
    altData: "chapa magnetica",
  },


];

---

<LayoutDoors
  title="SAP | Chapas magnéticas"
  doorCategory="Chapas magnéticas"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState="active"
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Las chapas magnéticas son la solución perfecta para garantizar un cierre
        efectivo sin piezas mecánicas. Pueden resistir hasta 850 kg de fuerza de
        impacto y al soltar son silenciosas. Son resistentes y efectivas, con
        una garantía de 25 años.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
              <ItemCarousel 
                imgUrl={item.imgUrl}
                altData={item.altData}
                slot="items"/>
              
            ))
        }
      </CarouselProducts>
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/magneticas/m-1.png"
          alt="chapa magnetica"
        />
        <p class="text-white mt-2 text-center">Chapa magnetica</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/magneticas/m-2.png"
          alt="chapa magnetica"
        />
        <p class="text-white mt-2 text-center">Chapa magnetica</p>
      </div>
    </div>
  </div>
</LayoutDoors>

