---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ItemModel from "../../components/ItemModel.astro";

const items = [

  {
    imgUrl: "/assets/curvas/c-1.jpg",
    altData: "puerta curva",
  },
  {
    imgUrl: "/assets/curvas/ca-1.jpeg",
    altData: "puerta curva",
  },
  {
    imgUrl: "/assets/curvas/ca-2.jpg",
    altData: "puerta curva",
  },
  {
    imgUrl: "/assets/curvas/ca-3.jpg",
    altData: "puerta curva",
  },

];
const modeloAllglass = [
  {
    imagen: "/assets/curvas/ca-1.jpeg",
    alternative: "puerta curva all glass",
  },
  {
    imagen: "/assets/curvas/ca-2.jpg",
    alternative: "puerta curva all glass",
  },
  {
    imagen: "/assets/curvas/ca-3.jpg",
    alternative: "puerta curva all glass",
  },
];
---

<LayoutDoors
  title="SAP | Puertas Curvas"
  doorCategory="Puertas Curvas"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState="active"
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Estas puertas tienen un diseño arquitectónico muy especial, con cristal
        curvo en las hojas y perfiles curvos, lo que les da una apariencia
        moderna y distintiva. Pueden ser de diversos tamaños y funcionan como
        puertas corredizas normales, pero con una apertura más amplia debido al
        diámetro.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
              <ItemCarousel 
                imgUrl={item.imgUrl}
                altData={item.altData}
                slot="items"/>
              
            ))
        }
      </CarouselProducts>
      
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/curvas/ca-1.jpeg"
          alt="puerta curva"
        />
        <p class="text-white mt-2 text-center">Puerta curva All glass</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/curvas/c-1.jpg"
          alt="puerta curva"
        />
        <p class="text-white mt-2 text-center">Puerta curva</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/curvas/ca-3.jpg"
          alt="puerta curva"
        />
        <p class="text-white mt-2 text-center">
          Puerta curva

        </p>
      </div>
    </div>
  </div>
  <!-- <div class="pt-20 max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-20 flex flex-col items-center justify-center"
    >
      <h1
        class="text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div class="grid gap-4 pt-10 items-center">
      <section class="flex flex-col mx-auto">
        <CarouselModel>
          {
            modeloAllglass.map((item) => (
              <ItemModel imgUrl={item.imagen} altData={item.alternative} />
            ))
          }
        </CarouselModel>
        <div class="mt-2">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-2"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </div>
      </section>
    </div>
  </div> -->
  <script
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
  slot="script"></script>
</LayoutDoors>
<script>
  var swiper = new Swiper(".mySwiper", {
    grabCursor: true,
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: [0, 0, -400],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    loop: true,

    speed: 700,
  });
</script>

<style>
  .swiper {
    width: 550px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 350px;
    border-radius: 8px;
  }
  /* .swiper-slide-img {
    display: block;
    width: 100%;
  } */
  .text_border_convert-models {
    -webkit-text-stroke: 0.7px #ffce00;
    color: transparent;
  }
  .border-left-bottom {
    -webkit-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-left-top {
    -webkit-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-top-right {
    -webkit-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
</style>