---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ItemModel from "../../components/ItemModel.astro";

const items = [

  {
    imgUrl: "/assets/huella-digital/h-1.png",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.png",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.png",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.png",
    altData: "huella digital",
  },
  {
    imgUrl: "/assets/huella-digital/h-1.png",
    altData: "huella digital",
  },
  

];
---

<LayoutDoors
  title="SAP | Huella digital"
  doorCategory="Huella digital"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState="active"
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Las lectoras de huella digital se han vuelto el sistema más común para
        identificar al usuario de forma económica y segura. Son rápidas y poco
        invasivas, y se pueden interconectar con muchos sistemas de acceso o
        como sistema stand alone.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
              <ItemCarousel 
                imgUrl={item.imgUrl}
                altData={item.altData}
                slot="items"/>
              
            ))
        }
      </CarouselProducts>
    
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/huella-digital/h-2.png"
          alt="lector huella digital"
        />
        <p class="text-white mt-2 text-center">Lector de huella digital</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/huella-digital/h-2.png"
          alt="lector huella digital"
        />
        <p class="text-white mt-2 text-center">Lector de huella digital</p>
      </div>
      
    </div>
  </div>

</LayoutDoors>
