---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
import CarouselModel from "../../components/CarouselModel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ItemModel from "../../components/ItemModel.astro";

const items = [

  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },
  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },
  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },
  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },
  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },
  {
    imgUrl: "/assets/iris/i-1.png",
    altData: "lector iris",
  },

];
---

<LayoutDoors
  title="SAP | Iris"
  doorCategory="Iris"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState="active"
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Los lectores biométricos de Iris son los más seguros y rápidos, sin ser
        intrusivos para el usuario. Se utilizan para verificar al 100% el acceso
        de la persona correcta, sin posibilidad de engañar al sistema. Son
        ideales en lugares importantes o de seguridad crítica.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
              <ItemCarousel 
                imgUrl={item.imgUrl}
                altData={item.altData}
                slot="items"/>
              
            ))
        }
      </CarouselProducts>
   
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/iris/i-2.png"
          alt="puerta corrediza all glass"
        />
        <p class="text-white mt-2 text-center">Sistema biometrio de iris</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/iris/i-2.png"
          alt="puerta corrediza all glass"
        />
        <p class="text-white mt-2 text-center">Sistema biometrio de iris</p>
      </div>
      
    </div>
  </div>
  
</LayoutDoors>
