---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas giratorias"
  doorCategory="Puertas giratorias"
  BgBody="yes"
  giratoriaState="active"
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Estas puertas son la solución perfecta para separar ambientes y ahorrar
        energía, sin ser un obstáculo para el usuario. Las puertas giratorias se
        dividen en manuales y automáticas, pueden tener 3 o 4 hojas, y los
        diseños son en perímetro de aluminio y en solo cristal. El acabado puede
        ser incluso en materiales especiales como acero inoxidable, latón o
        bronce. Estas puertas cuentan con sistema de Break-out para abatir en
        caso de emergencia. Una vez terminado el uso de este sistema, es tan
        fácil como acercar las hojas a su posición original, y la puerta volverá
        a su lugar casi automáticamente.
      </p>

      <p>
        <span class="text-[#ffce00] mr-1">»</span>Las puertas manuales llevan un
        sistema de freno dinámico para evitar el giro a alta velocidad.
      </p>
      <p>
        <span class="text-[#ffce00] mr-1">»</span>Las puertas automáticas
        girarán al acercarse al usuario y se detendrán al terminar el uso.
      </p>

      <p>
        Pueden ser de hasta 5.50 m de diámetro y llevarán botones de proximidad
        para considerar a personas con necesidades especiales o sillas de
        ruedas.
      </p>

      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-[35rem]">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass.jpeg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-europe.JPG"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/dura-glade.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="3"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 5"
            data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"></path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/instalacion.jpg"
          alt="instalacion puerta giratoria"
          class=""
        />
        <p class="text-white mt-2 text-center">
          1,500 AA Puerta Giratoria Automática
        </p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/giratoria.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          1,500 Crysral Puerta Giratoria Manual
        </p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/giratoria-2.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          2DOR Puerta Giratoria Automática de 2 hojas
        </p>
      </div>
    </div>
  </div>
</LayoutDoors>
