---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas"
  BgBody="yes"
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-white">
        <h1 class="text-center">SAP</h1>
        <p>
          SAP es una empresa multinacional alemana dedicada al diseño de
          productos informáticos de gestión empresarial, tanto para empresas
          pequeñas y medianas como grandes corporaciones. SAP es líder de
          mercado en software de aplicaciones de negocio, ayudando a
          organizaciones de todos los tamaños y de todos los sectores a mejorar
          el funcionamiento de su negocio. SAP es el tercer mayor fabricante
          independiente de software del mundo.
        </p>
        <p>
          SAP ofrece soluciones de negocio para la gestión de relaciones con
          clientes, gestión de la cadena de suministro, gestión de relaciones
          con proveedores, gestión de activos empresariales, gestión de recursos
          humanos, gestión financiera y contabilidad, gestión de viajes y
          gastos, gestión de la tecnología de la información y desarrollo de
          aplicaciones.
        </p>
        <p>
          SAP es el mayor proveedor de software de gestión empresarial del
          mundo, con más de 95.000 clientes en más de 120 países. La empresa
          cuenta con más de 51.000 empleados en todo el mundo, de los cuales más
          de 13.000 son consultores. SAP tiene su sede en Walldorf, Alemania, y
          oficinas en más de 50 países.
        </p>
        <p>
          SAP es el tercer mayor fabricante independiente de software del mundo.
          SAP es el mayor proveedor de software de gestión empresarial del
          mundo, con más de 95.000 clientes en más de 120 países. La empresa
          cuenta con más de 51.000 empleados en todo el mundo, de los cuales más
          de 13.000 son consultores. SAP tiene su sede en Walldorf, Alemania, y
          oficinas en más de 50 países.
        </p>
        <p>
          SAP es el tercer mayor fabricante independiente de software del mundo.
          SAP es el mayor proveedor de software de gestión empresarial
        </p>
      </div>
    </div>
  </div>
</LayoutDoors>
