---
import Carousel from "../../components/Carousel.astro";

import Item from "../../components/Item.astro";

import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/plegadizas/p-1.png",
    altData: "puerta plegadiza",
  },

  {
    imgUrl: "/assets/plegadizas/p-3.png",
    altData: "puerta plegadiza",
  },

];
---

<LayoutDoors
  title="SAP | Puertas plegadizas"
  doorCategory="Puertas plegadizas"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState="active"
  icuState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20  animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-xl [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p>
        Estas puertas se utilizan en espacios muy estrechos donde se requiere la
        máxima apertura posible. Son puertas con operadores abatibles y hojas en
        acordeón, que darán una apertura del 80% del claro total. Estas puertas
        solo están disponibles en el modelo Duraglide (con perfiles
        perimetrales).
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor
        type="Puerta Plegadiza"
        model="Automática"
        title="Ancho de 1.20 mts hasta 3.00 mts."
        url={items[0].imgUrl}
      />
      
    </section>
    <!-- <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/plegadizas/p-1.JPG"
          alt="puerta plegadiza"
        />
        <p class="text-white mt-2 text-center">AEROPUERTO CDMX</p>
      </div> -->
    <!-- <div class="w-56">
        <img
          src="/assets/plegadizas/p-2.JPG"
          alt="AICM"
        />
        <p class="text-white mt-2 text-center">AICM PLEGADIZA</p>
      </div> -->
    <!-- <div class="w-56">
        <img
          src="/assets/plegadizas/p-3.JPG"
          alt="AICM"
        />
        <p class="text-white mt-2 text-center">
          AICM PLEGADIZA
        </p>
      </div> -->
  </div>
</LayoutDoors>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
  slot="script"></script>
