---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas giratorias"
  doorCategory="Puertas giratorias"
  BgBody="yes"
  giratoriaState="active"
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row  ">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Estas puertas son la solución perfecta para separar ambientes y ahorrar
        energía, sin ser un obstáculo para el usuario. Las puertas giratorias se
        dividen en manuales y automáticas, pueden tener 3 o 4 hojas, y los
        diseños son en perímetro de aluminio y en solo cristal. El acabado puede
        ser incluso en materiales especiales como acero inoxidable, latón o
        bronce. Estas puertas cuentan con sistema de Break-out para abatir en
        caso de emergencia. Una vez terminado el uso de este sistema, es tan
        fácil como acercar las hojas a su posición original, y la puerta volverá
        a su lugar casi automáticamente.
      </p>

      <p>
        <span class="text-[#ffce00] mr-1">»</span>Las puertas manuales llevan un
        sistema de freno dinámico para evitar el giro a alta velocidad.
      </p>
      <p>
        <span class="text-[#ffce00] mr-1">»</span>Las puertas automáticas
        girarán al acercarse al usuario y se detendrán al terminar el uso.
      </p>

      <p>
        Pueden ser de hasta 5.50 m de diámetro y llevarán botones de proximidad
        para considerar a personas con necesidades especiales o sillas de
        ruedas.
      </p>

      <div
        class="flex flex-col mt-8 justify-center mx-auto items-center animate-fade-up animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal"
      >
        <img
            class="w-full h-full object-contain"
          src="/assets/puertas-giratorias/puerta-giratoria.png"
          alt="puerta giratoria"
        />
        <p class="text-white mt-2 self-start">1,500 M Puerta Giratoria Manual</p>
      </div>    
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/instalacion.jpg"
          alt="instalacion puerta giratoria"
          class=""
        />
        <p class="text-white mt-2 text-center">
          1,500 AA Puerta Giratoria Automática
        </p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/giratoria.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          1,500 Crysral Puerta Giratoria Manual
        </p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-giratorias/giratoria-2.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          2DOR Puerta Giratoria Automática de 2 hojas
        </p>
      </div>
    </div>
  </div>
</LayoutDoors>
