---
import Carousel from "../../components/Carousel.astro";

import Item from "../../components/Item.astro";

import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/giratorias/g-3.webp",
    altData: "puerta giratoria",
  },
  {
    imgUrl: "/assets/giratorias/g-1.webp",
    altData: "puerta giratoria",
  },
  {
    imgUrl: "/assets/giratorias/g-2.webp",
    altData: "puerta giratoria",
  },

  {
    imgUrl: "/assets/giratorias/g-4.webp",
    altData: "puerta giratoria",
  },

  {
    imgUrl: "/assets/giratorias/g-6.webp",
    altData: "puerta giratoria",
  },
];
---

<LayoutDoors
  title="SAP | Puertas giratorias"
  doorCategory="Puertas giratorias"
  giratoriaState="active"
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <section
      class="mb-20 px-0 2xl:px-12 mr-0 lg:mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-xl"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>
      <p class="text-white mb-5">
        Estas puertas son la solución perfecta para separar ambientes y ahorrar
        energía, sin ser un obstáculo para el usuario. Las <span
          class="text-[#ffce00] font-black">puertas giratorias</span
        > se dividen en manuales y automáticas, pueden tener 3 o 4 hojas, y los diseños
        son en perímetro de aluminio y en solo cristal.
      </p>
      <p class="text-white mb-5">
        El acabado puede ser incluso en materiales especiales como acero
        inoxidable, latón o bronce. Estas puertas cuentan con sistema de
        Break-out para abatir en caso de emergencia. Una vez terminado el uso de
        este sistema, es tan fácil como acercar las hojas a su posición
        original, y la puerta volverá a su lugar casi automáticamente.
      </p>

      <p class="text-[#ffce00] font-black mb-5">
        Las puertas manuales llevan un sistema de freno dinámico para evitar el
        giro a alta velocidad.
      </p>
      <p class="text-[#ffce00] font-black mb-5">
        Las puertas automáticas girarán al acercarse al usuario y se detendrán
        al terminar el uso.
      </p>

      <p class="text-white">
        Pueden ser de hasta 5.50 m de diámetro y llevarán botones de proximidad
        para considerar a personas con necesidades especiales o sillas de
        ruedas.
      </p>
    </section>
    <section class="mb-32 px-0 2xl:px-12 mr-0 lg:mr-6 grid gap-y-20">
      <ModelDoor
        type="Puerta Giratoria"
        model="Manual"
        title="1,500 Crystal Puerta Giratoria Manual"
        url="/assets/giratorias/g-8.webp"
      />
      <ModelDoor
        type="Puerta Giratoria"
        model="Automáticas"
        title="1,500 AA Puerta Giratoria Automática"
        url="/assets/giratorias/g-7.webp"
      />
      <ModelDoor
        type="Puerta Giratoria"
        model="Manual"
        title="1,500 M Puerta Giratoria Manual"
        url="/assets/giratorias/gm-1.webp"
      />
    </section>
  </div>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
