---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas batientes"
  doorCategory="Puertas batientes"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState="active"
  telescopicaState=""
>
  <div
    class="px-12 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
  >
    <p>
      Las puertas batientes son ideales para espacios reducidos o como laterales
      de puertas giratorias en hoteles y hospitales. Se utilizan preferentemente
      con acceso en una sola dirección y se usan mucho en pasillos de hospitales
      y entradas de corporativos, así como en la industria farmacéutica. Pueden
      ser con marco perimetral de aluminio o modelo All Glass. Pueden llevar
      accesorios como chapas magnéticas, sensores y botones. Pueden tener
      acabados anodizados, pinturas electrostáticas y recub
    </p>
  </div>

  <div class="flex flex-col justify-center mt-4">
    <div
      class="flex flex-col justify-center mx-auto items-center animate-fade-up animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal"
    >
      <img
        src="/assets/puertas-giratorias/puerta-giratoria.png"
        alt="puerta giratoria"
      />
      <p class="text-white mt-4 self-end">1,500 M Puerta Giratoria Manual</p>
    </div>

    <div
      class="grid md:grid-cols-3 gap-4 mx-auto mt-4 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-64">
        <img
          src="/assets/puertas-giratorias/instalacion.jpg"
          alt="instalacion puerta giratoria"
          class=""
        />
        <p class="text-white mt-2 text-center">
          1,500 AA Puerta Giratoria Automática
        </p>
      </div>
      <div class="w-64">
        <img
          src="/assets/puertas-giratorias/giratoria.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          1,500 Crysral Puerta Giratoria Manual
        </p>
      </div>
      <div class="w-64">
        <img
          src="/assets/puertas-giratorias/giratoria-2.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          2DOR Puerta Giratoria Automática de 2 hojas
        </p>
      </div>
    </div>
  </div>
</LayoutDoors>
