---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas"
  BgBody="yes"
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Son las puertas más usadas en el mundo, prácticas y reconocidas, con un
        alto ahorro de energía, máximo flujo y seguridad. Pueden ser modelos All
        Glass (con zócalos superiores e inferiores), All Glass Europe (solo
        zócalos superiores) y modelo Dura-Glide con aluminio perimetral. Pueden
        llevar abatimiento en hojas corredizas y fijos laterales, o sistema
        eléctrico para abrir en emergencia. Son flexibles y adecuadas para una
        variedad de usos, desde aeropuertos hasta residencias.
      </p>

      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-[35rem]">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass.jpeg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-europe.JPG"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/dura-glade.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="3"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 5"
            data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"></path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>

      <div class="w-full shadow mt-10">
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Select tab</label>
          <select
            id="tabs"
            class="border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option>All Glass</option>
            <option>Dura-Glide</option>
            <option>All Glass Europe</option>
          </select>
        </div>
        <ul
          class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400"
          id="fullWidthTab"
          data-tabs-toggle="#fullWidthTabContent"
          role="tablist"
        >
          <li class="w-full">
            <button
              id="stats-tab"
              data-tabs-target="#stats"
              type="button"
              role="tab"
              aria-controls="stats"
              aria-selected="true"
              class="inline-block w-full p-4 hover:bg-white/10 focus:outline-none hover:text-[#ffce00]"
              >All Glass</button
            >
          </li>
          <li class="w-full">
            <button
              id="about-tab"
              data-tabs-target="#about"
              type="button"
              role="tab"
              aria-controls="about"
              aria-selected="false"
              class="inline-block w-full p-4 bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
              >Dura-Glide</button
            >
          </li>
          <li class="w-full">
            <button
              id="faq-tab"
              data-tabs-target="#faq"
              type="button"
              role="tab"
              aria-controls="faq"
              aria-selected="false"
              class="inline-block w-full p-4 rounded-tr-lg bg-gray-50 hover:bg-gray-100 focus:outline-none dark:bg-gray-700 dark:hover:bg-gray-600"
              >All Glass Europe</button
            >
          </li>
        </ul>
        <div
          id="fullWidthTabContent"
          class="border-t border-gray-900 dark:border-gray-600"
        >
          <div
            class="hidden p-4"
            id="stats"
            role="tabpanel"
            aria-labelledby="stats-tab"
          >
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
              <div class="grid gap-4">
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="grid gap-4">
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="grid gap-4">
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="grid gap-4">
                <div class="relative">
                  <img
                    class="h-full max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
                    alt=""
                  />
                  <!-- Show tooltip on right -->
                  <button
                    data-tooltip-target="tooltip-right"
                    data-tooltip-placement="right"
                    type="button"
                    class="absolute bottom-0 left-0 z-50 mb-2 md:mb-0 text-black hover:text-[#ffce00] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 text-center animate-wiggle-more animate-duration-[3s] animate-infinite hover:animate-none"
                  >
                    <img src="/assets/info.svg" alt="info" class="w-6" />
                  </button>
                  <div
                    id="tooltip-right"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-black bg-white/10 rounded-lg shadow-sm opacity-0 tooltip"
                  >
                    aqui va una dirección
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </div>
                <div class="relative">
                  <img
                    class="h-full max-w-full object-cover rounded-lg"
                    src="/assets/puerta-servicio.jpg"
                    alt=""
                  />
                  <!-- Show tooltip on right -->
                  <button
                    data-tooltip-target="tooltip-right"
                    data-tooltip-placement="right"
                    type="button"
                    class="absolute bottom-0 left-0 z-50 mb-2 md:mb-0 text-black hover:text-[#ffce00] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 text-center animate-bounce animate-duration-[3s] animate-infinite hover:animate-none"
                  >
                    <img src="/assets/info.svg" alt="info" class="w-6" />
                  </button>
                  <div
                    id="tooltip-right"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-black bg-white/10 rounded-lg shadow-sm opacity-0 tooltip"
                  >
                    aqui va una dirección
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </div>
                <div class="relative">
                  <img
                    class="h-full max-w-full rounded-lg -z-10"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
                    alt=""
                  />
                  <!-- Show tooltip on right -->
                  <button
                    data-tooltip-target="tooltip-right"
                    data-tooltip-placement="right"
                    type="button"
                    class="absolute bottom-0 left-0 z-50 mb-2 md:mb-0 text-black hover:text-[#ffce00] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-2 py-2 text-center"
                  >
                    <img src="/assets/info.svg" alt="info" class="w-6" />
                  </button>
                  <div
                    id="tooltip-right"
                    role="tooltip"
                    class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-black bg-white/10 rounded-lg shadow-sm opacity-0 tooltip"
                  >
                    aqui va una dirección
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="hidden p-4 bg-white md:p-8 dark:bg-gray-800"
            id="about"
            role="tabpanel"
            aria-labelledby="about-tab"
          >
            <div
              class="grid mb-8 border border-gray-200 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2"
            >
              <figure
                class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700"
              >
                <blockquote
                  class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Very easy this was to integrate
                  </h3>
                  <p class="my-4">
                    If you care for your time, I hands down would go with this."
                  </p>
                </blockquote>
                <figcaption class="flex items-center justify-center space-x-3">
                  <img
                    class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
                    alt="profile picture"
                  />
                  <div
                    class="space-y-0.5 font-medium dark:text-white text-left"
                  >
                    <div>Bonnie Green</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">
                      Developer at Open AI
                    </div>
                  </div>
                </figcaption>
              </figure>
              <figure
                class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <blockquote
                  class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Solid foundation for any project
                  </h3>
                  <p class="my-4">
                    Designing with Figma components that can be easily
                    translated to the utility classes of Tailwind CSS is a huge
                    timesaver!"
                  </p>
                </blockquote>
                <figcaption class="flex items-center justify-center space-x-3">
                  <img
                    class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                    alt="profile picture"
                  />
                  <div
                    class="space-y-0.5 font-medium dark:text-white text-left"
                  >
                    <div>Roberta Casas</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">
                      Lead designer at Dropbox
                    </div>
                  </div>
                </figcaption>
              </figure>
              <figure
                class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-bl-lg md:border-b-0 md:border-r dark:bg-gray-800 dark:border-gray-700"
              >
                <blockquote
                  class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Mindblowing workflow
                  </h3>
                  <p class="my-4">
                    Aesthetically, the well designed components are beautiful
                    and will undoubtedly level up your next application."
                  </p>
                </blockquote>
                <figcaption class="flex items-center justify-center space-x-3">
                  <img
                    class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                    alt="profile picture"
                  />
                  <div
                    class="space-y-0.5 font-medium dark:text-white text-left"
                  >
                    <div>Jese Leos</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">
                      Software Engineer at Facebook
                    </div>
                  </div>
                </figcaption>
              </figure>
              <figure
                class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-br-lg dark:bg-gray-800 dark:border-gray-700"
              >
                <blockquote
                  class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Efficient Collaborating
                  </h3>
                  <p class="my-4">
                    You have many examples that can be used to create a fast
                    prototype for your team."
                  </p>
                </blockquote>
                <figcaption class="flex items-center justify-center space-x-3">
                  <img
                    class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png"
                    alt="profile picture"
                  />
                  <div
                    class="space-y-0.5 font-medium dark:text-white text-left"
                  >
                    <div>Joseph McFall</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">
                      CTO at Google
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          <div
            class="hidden p-4  rounded-lg  relative"
            id="faq"
            role="tabpanel"
            aria-labelledby="faq-tab"
          >
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div
        class="flex flex-col mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
      >
        <div class="w-56">
          <img
            src="/assets/puertas-corredizas/all-glass-two.jpg"
            alt="puerta corrediza all glass"
          />
          <p class="text-white mt-2 text-center">Puerta corrediza All Glass</p>
        </div>
        <div class="w-56">
          <img
            src="/assets/puertas-corredizas/dura-glade.jpg"
            alt="instalacion puerta giratoria"
          />
          <p class="text-white mt-2 text-center">Puerta corrediza Dura-Glade</p>
        </div>
        <div class="w-56">
          <img
            src="/assets/puertas-corredizas/all-glass-europe.JPG"
            alt="instalacion puerta giratoria"
          />
          <p class="text-white mt-2 text-center">
            Puerta corrediza All Glass Europe
          </p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
      slot="script"></script>
  </div>
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</LayoutDoors>
<style>
   .swiper {
      width: 880px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
</style>