---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas corredizas"
  doorCategory="Puertas corredizas"
  BgBody="yes"
  giratoriaState=""
  corredizaState="active"
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Son las puertas más usadas en el mundo, prácticas y reconocidas, con un
        alto ahorro de energía, máximo flujo y seguridad. Pueden ser modelos All
        Glass (con zócalos superiores e inferiores), All Glass Europe (solo
        zócalos superiores) y modelo Dura-Glide con aluminio perimetral. Pueden
        llevar abatimiento en hojas corredizas y fijos laterales, o sistema
        eléctrico para abrir en emergencia. Son flexibles y adecuadas para una
        variedad de usos, desde aeropuertos hasta residencias.
      </p>

      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-[35rem]">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass.jpeg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-europe.JPG"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/dura-glade.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
          <!-- Item 5 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
              src="/assets/puertas-corredizas/all-glass-two.jpg"
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt="..."
            />
          </div>
        </div>
        <!-- Slider indicators -->
        <div
          class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
        >
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="true"
            aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 4"
            data-carousel-slide-to="3"></button>
          <button
            type="button"
            class="w-3 h-3 rounded-full"
            aria-current="false"
            aria-label="Slide 5"
            data-carousel-slide-to="4"></button>
        </div>
        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"></path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              class="w-4 h-4 text-white dark:text-gray-800"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"></path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>

    <div
      class="flex flex-col mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <a href="#all-glass"
          ><img
            src="/assets/puertas-corredizas/all-glass-two.jpg"
            alt="puerta corrediza all glass"
          /></a
        >
        <p class="text-white mt-2 text-center">Puerta corrediza All Glass</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-corredizas/dura-glade.jpg"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">Puerta corrediza Dura-Glade</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/puertas-corredizas/all-glass-europe.JPG"
          alt="instalacion puerta giratoria"
        />
        <p class="text-white mt-2 text-center">
          Puerta corrediza All Glass Europe
        </p>
      </div>
    </div>
  </div>
  <div class="pt-20 max-w-6xl flex flex-col justify-center mx-auto">
    <div
      class="[&>h1]:text-[#ffce00] py-20 flex flex-col items-center justify-center"
    >
      <h1
        class="text-6xl font-[oswald] font-extrabold uppercase text-center tracking-wide"
      >
        modelos
      </h1>
      <img src="/assets/linea.png" alt="" class="w-68 h-4" />
    </div>

    <div
      class="grid mb-8 md:mb-12 md:grid-cols-2 bordered border-slate-900 pt-10"
    >
      <figure
        class="flex flex-col justify-center mb-8  rounded-md pl-8"
        id="all-glass"
      >
        <blockquote class="max-w-2xl mb-4 lg:mb-8 pt-12">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-6"
          >
            all glass
          </h3>
          <p class="text-white text-lg">
            El modelo all glass trae zócalos en la parte superior e inferior
          </p>
        </blockquote>
      </figure>
      <figure class="flex flex-col text-left p-2 mb-8">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
          </div>
        </div>
      </figure>
      <figure class="flex flex-col text-left p-2 mb-8">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
          </div>
        </div>
      </figure>
      <figure
        class="flex flex-col justify-center  rounded-md pr-8 mb-8"
        id="dura-glide"
      >
        <blockquote class="max-w-2xl mb-4 lg:mb-8 pt-12">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-6 text-right"
          >
            Dura-Glide
          </h3>
          <p class="text-white text-lg text-right">
            El modelo Dura-Glide trae aluminio perimetral.
          </p>
        </blockquote>
      </figure>
      <figure
        class="flex flex-col justify-center  rounded-md pl-8"
        id="all-glass-europe"
      >
        <blockquote class="max-w-2xl mb-4 lg:mb-8 pt-12">
          <h3
            class="text-5xl font-extrabold uppercase text_border_convert-models font-[oswald] mb-6 text-left"
          >
            all glass europe
          </h3>
          <p class="text-white text-lg text-left">
            El modelo all glass Europe trae solo zócalos superiores.
          </p>
        </blockquote>
      </figure>
      <figure class="flex flex-col text-left p-2">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/puerta-servicio.webp"
                alt=""
                class="swiper-slide-img"
              />
            </div>
          </div>
        </div>
      </figure>
    </div>
  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
<script>
  var swiper = new Swiper(".mySwiper", {
    grabCursor: true,
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: [0, 0, -400],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    loop: true,

    speed: 700,
  });
</script>

<style>
  .swiper {
    width: 550px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 350px;
    border-radius: 8px;
  }
  .swiper-slide-img {
    display: block;
    width: 100%;
  }
  .text_border_convert-models {
    -webkit-text-stroke: 0.7px #ffce00;
    color: transparent;
  }
  .border-left-bottom {
    -webkit-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px 100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-left-top {
    -webkit-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: -100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
  .border-top-right {
    -webkit-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    -moz-box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
    box-shadow: 100px -100px 10px -100px rgba(255, 255, 255, 1);
  }
</style>
