---
import LayoutDoors from "../../layouts/LayoutDoors.astro";
---

<LayoutDoors
  title="SAP | Puertas giratorias"
  doorCategory="Puertas giratorias"
  BgBody="yes"
  giratoriaState="active"
  corredizaState=""
  batienteState=""
  telescopicaState=""
>
  <div class="">
    <p class="text-white text-xl">
        Su principal ventaja es minimizar la fuga de aire en edificios aclimatados, permitiendo a la vez un elevado flujo de personas. <br> Es la puerta con mayor sellado de ambiente en el mercado. Es una excelente opción para el ahorro de energía. Pueden ser de dos, tres o cuatro hojas.
    </p>
  </div>
</LayoutDoors>
