---
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/plegadizas/p-1.JPG",
    altData: "puerta plegadiza",
  },
  {
    imgUrl: "/assets/plegadizas/p-2.JPG",
    altData: "puerta plegadiza",
  },
  {
    imgUrl: "/assets/plegadizas/p-3.JPG",
    altData: "puerta plegadiza",
  },
  {
    imgUrl: "/assets/plegadizas/p-2.JPG",
    altData: "puerta plegadiza",
  },
  {
    imgUrl: "/assets/plegadizas/p-1.JPG",
    altData: "puerta plegadiza",
  },
  {
    imgUrl: "/assets/plegadizas/p-3.JPG",
    altData: "puerta plegadiza",
  },
  
];
---

<LayoutDoors
  title="SAP | Puertas plegadizas"
  doorCategory="Puertas plegadizas"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState="active"
  icuState=""
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Estas puertas se utilizan en espacios muy estrechos donde se requiere la
        m치xima apertura posible. Son puertas con operadores abatibles y hojas en
        acorde칩n, que dar치n una apertura del 80% del claro total. Estas puertas
        solo est치n disponibles en el modelo Duraglide (con perfiles
        perimetrales).
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
            <ItemCarousel
              imgUrl={item.imgUrl}
              altData={item.altData}
              slot="items"
            />
          ))
        }
      </CarouselProducts>

    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/plegadizas/p-1.JPG"
          alt="puerta plegadiza"
        />
        <p class="text-white mt-2 text-center">AEROPUERTO CDMX</p>
      </div>
      <!-- <div class="w-56">
        <img
          src="/assets/plegadizas/p-2.JPG"
          alt="AICM"
        />
        <p class="text-white mt-2 text-center">AICM PLEGADIZA</p>
      </div> -->
      <div class="w-56">
        <img
          src="/assets/plegadizas/p-3.JPG"
          alt="AICM"
        />
        <p class="text-white mt-2 text-center">
          AICM PLEGADIZA
        </p>
      </div>
    </div>
  </div>
</LayoutDoors>
