---
import Carousel from "../../components/Carousel.astro";
import CarouselProducts from "../../components/CarouselProducts.astro";
import Item from "../../components/Item.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },

  
];
---

<LayoutDoors
  title="SAP | Puertas de seguridad"
  doorCategory="Puertas de seguridad"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState="active"
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20 px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      
      <Carousel>
        {
          items.map((item) => (
            <Item
              src={item.imgUrl}
              alt ={item.altData}
              slot="item-swiper"
            />
          ))
        }
      </Carousel>

      <p>
        Las puertas giratorias de seguridad son especiales para controlar flujos
        ya sea de entrada y salida, o en una sola dirección. Son elegantes desde
        el punto de vista arquitectónico pero tienen funciones de alta
        seguridad. Son ideales en edificios corporativos y lugares de alta
        seguridad. Solo permiten el acceso al usuario autorizado.
      </p>

    </div>

    

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor 
        type="Puerta giratoria"
        model="Manual"
        description="1,500 M Puerta Giratoria Manual"
        url= {items[0].imgUrl}
      />
      
    </section>

  </div>
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
    slot="script"></script>
</LayoutDoors>
