---
import Carousel from "../../components/Carousel.astro";
import Item from "../../components/Item.astro";
import ModelDoor from "../../components/products/ModelDoor.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/icu/i-1.png",
    altData: "puerta icu",
  },

  {
    imgUrl: "/assets/icu/i-3.png",
    altData: "puerta icu",
  },
  {
    imgUrl: "/assets/icu/i-4.png",
    altData: "puerta icu",
  },
  {
    imgUrl: "/assets/icu/i-2.png",
    altData: "puerta icu",
  },
];
---

<LayoutDoors
  title="SAP | Puertas ICU"
  doorCategory="Puertas icu"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  icuState="active"
  seguridadState=""
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
>
  <div class="flex flex-col">
    <div
      class="mb-20  animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-xl [&>p]:mb-4"
    >
      <Carousel>
        {
          items.map((item) => (
            <Item src={item.imgUrl} alt={item.altData} slot="item-swiper" />
          ))
        }
      </Carousel>

      <p>
        Las puertas Label ICU/CCU para cuidados intensivos y triaje son puertas
        correderas, automáticas o manuales, con apertura “antipánico” hacia el
        interior (o hacia el exterior a petición).
      </p>
    </div>

    <section class="mb-32 px-0 lg:px-12 mr-0 lg:mr-6">
      <ModelDoor
        type="Puerta Icu"
        model="Automática"
        description="Puerta corrediza automática con apertura “antipánico”"
        url={items[2].imgUrl}
      />
    </section>

    <!-- <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img src="/assets/icu/i-4.jpeg" alt="puerta icu" />
        <p class="text-white mt-2 text-center">Puerta ICU</p>
      </div> -->
    <!-- <div class="w-56">
        <img
          src="/assets/plegadizas/p-2.JPG"
          alt="AICM"
        />
        <p class="text-white mt-2 text-center">AICM PLEGADIZA</p>
      </div> -->
    <!-- <div class="w-56">
        <img src="/assets/icu/i-2.jpeg" alt="puerta icu" />
        <p class="text-white mt-2 text-center">Puerta ICU</p>
      </div>
    </div>
  </div> -->

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"
      slot="script"></script>
  </div>
</LayoutDoors>
