---
import CarouselProducts from "../../components/CarouselProducts.astro";
import ItemCarousel from "../../components/ItemCarousel.astro";
import LayoutDoors from "../../layouts/LayoutDoors.astro";

const items = [
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },
  {
    imgUrl: "/assets/seguridad/s-1.png",
    altData: "puerta de seguridad",
  },

  
];
---

<LayoutDoors
  title="SAP | Puertas de seguridad"
  doorCategory="Puertas de seguridad"
  BgBody="yes"
  giratoriaState=""
  corredizaState=""
  batienteState=""
  telescopicaState=""
  plegadizaState=""
  seguridadState="active"
  torniqueteState=""
  huellaDigitalState=""
  magneticaState=""
  irisState=""
  curvaState=""
  tecladoDandLectorTarjetaState=""
  icuState=""
>
  <div class="flex flex-col lg:flex-row">
    <div
      class="px-12 mr-6 animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal [&>p]:text-white [&>p]:text-lg [&>p]:mb-4"
    >
      <p>
        Las puertas giratorias de seguridad son especiales para controlar flujos
        ya sea de entrada y salida, o en una sola dirección. Son elegantes desde
        el punto de vista arquitectónico pero tienen funciones de alta
        seguridad. Son ideales en edificios corporativos y lugares de alta
        seguridad. Solo permiten el acceso al usuario autorizado.
      </p>
      <CarouselProducts>
        {
          items.map((item) => (
            <ItemCarousel
              imgUrl={item.imgUrl}
              altData={item.altData}
              slot="items"
            />
          ))
        }
      </CarouselProducts>
    </div>
    <div
      class="grid md:grid-rows-3 gap-4 mx-auto animate-fade animate-once animate-duration-500 animate-delay-300 animate-ease-out"
    >
      <div class="w-56">
        <img
          src="/assets/seguridad/s-1.png"
          alt="puerta de seguridad"
        />
        <p class="text-white mt-2 text-center">Puerta de seguridad</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/seguridad/s-1.png"
          alt="puerta de seguridad"
        />
        <p class="text-white mt-2 text-center">Puerta de seguridad</p>
      </div>
      <div class="w-56">
        <img
          src="/assets/seguridad/s-1.png"
          alt="puerta de seguridad"
        />
        <p class="text-white mt-2 text-center">Puerta de seguridad</p>
      </div>
    </div>
  </div>
</LayoutDoors>
