---
import Layout from "../layouts/Layout.astro";

---
<Layout
title="404 pagina no encontrada"
BgBody="no"
url=""
>
 <main class="w-screen h-screen grid place-content-center bg-gray-700 bg-gradient-to-bl">
    <section class="">
        <h2 class="text-white text-7xl">404 Pagina no encontrada</h2>
        <a href="/" class="text-[#ffce00] text-3xl"> volver al inicio</a>
    </section>
 </main>

</Layout>