---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="SAP"
  HomeState=""
  ProductosState=""
  ServiciosState=""
  CatalogoState="active"
  NosotrosState=""
  OficinasState=""
  ContactoState=""
  BgBody="yes"
>
  <main class="w-full h-screen top-0 left-0">
    <section
      class="flex flex-col justify-center mx-auto max-w-[1150px] h-full"
    >
      <div class="flex flex-row bg-black/50 justify-between mb-8">
        <article class="text-white p-6 grid grid-cols-1 grid-rows-3 ">
          <h1 class="text-[#ffce00] text-6xl font-bold pb-4">CATÁLOGO</h1>
          <p class=" text-xl">
            Te invitamos a descargar nuestro catálogo donde podrás encontrar
            todos nuestros productos.
          </p>
          <a
            href="#"
            class="text-[#ffce00] font-semibold italic text-xl self-end">Descargar</a
          >
        </article>
        <div>
          <img
            class="object-contain aspect-auto w-full "
            src="/assets/service-catalog.jpg"
            alt="Torre Diana."
          />
        </div>
      </div>
    </section>
  </main>
</Layout>