---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SAP | Catálogo" BgBody="no" url="">
  <Navbar
    HomeState=""
    ProductosState=""
    GaleriaState=""
    ServiciosState=""
    CatalogoState="active"
    NosotrosState=""
    OficinasState=""
    ContactoState=""
  />
  <main
    class="bg-[url(/assets/home/catalogo-background.webp)] bg-cover bg-no-repeat bg-top lg:bg-center bg-fixed"
  >
    <section class="min-h-screen bg-black/30 pt-32 pb-20 px-8 lg:pt-48 lg:pl-20">
      <h1
        class="text-[#ffce00] 2xl:text-6xl md:text-5xl text-4xl font-bold pb-9 font-[oswald]"
      >
        CATÁLOGO
      </h1>
      <p class="text-white  text-lg mb-6 lg:w-[600px]">
        Te invitamos a descargar nuestro catálogo donde podrás encontrar todos
        nuestros productos.
      </p>
      <div class="lg:pr-[10.5rem] pt-8 lg:pt-24">
        <a
          href="/assets/presentacion-sap.pdf"
          target="_blank"
          class="py-2 px-6 bg-[#ffce00] rounded-full text-black text-2xl font-black flex items-center gap-2 w-fit hover:scale-110 hover:underline transition-all [&:hover>img]:animate-spin [&:hover>img]:animate-once [&:hover>img]:animate-duration-300 [&:hover>img]:ease-in-out"
        >
          <!-- <svg
            class="icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 6l6 6l-6 6"></path>
          </svg> -->
          <img src="/assets/home/arrow-black.png" class="w-4" alt="" />
          Descárgalo aquí</a
        >
      </div>
    </section>
    <!-- <div class="p-4 grid place-items-end">
      <a type="link" href="/nosotros"><span class="text-white hover:text-[#ffce00]">Siguiente pagina</span></a>
    </div> -->
  </main>
</Layout>
