---
import LayoutTwo from "../layouts/LayoutTwo.astro";
---

<LayoutTwo
  title="SAP"
  HomeState=""
  ProductosState=""
  ServiciosState=""
  CatalogoState=""
  NosotrosState=""
  OficinasState=""
  ContactoState="active"
  BgBody="yes"
>
  <main class="w-full min-h-screen h-full flex pt-36 justify-center bg-black/60">
    <h1 class="text-white">HOLA</h1>
  </main>
</LayoutTwo>
