---
import Counter from "../components/Counter.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SAP" BgBody="no" url="">
  <Navbar
    HomeState="active"
    ProductosState=""
    GaleriaState=""
    ServiciosState=""
    CatalogoState=""
    NosotrosState=""
    OficinasState=""
    ContactoState=""
    slot="header"
  />
  <main
    class="w-screen h-screen bg-[url(/assets/home/background.png)] bg-cover bg-no-repeat bg-center bg-fixed"
  >
    <section class="w-screen h-screen pt-28 px-10 md:pt-60 md:pl-16 grid pb-6">
      <article>
        <h1
          class="text-white uppercase text-6xl lg:text-[6.5rem] font-bold font-[oswald] mb-10 tracking-wider"
        >
          sistemas automáticos peatonales
        </h1>
        <p
          class="text-xl md:text-2xl text-white font-medium uppercase tracking-wide"
        >
          soluciones en accesos
        </p>
        <p class="text-white text-xl md:text-2xl font-medium">
          Somos <span class="text-[#ffce00] italic font-bold">número uno</span>
           en puertas automáticas en todo México y el Caribe.
        </p>

        <div class="flex flex-row gap-4 md:gap-8 items-center mt-7">
          <Counter />
          <div>
            <p
              class="text-white text-lg lg:text-2xl font-medium uppercase -ml-6 pt-2"
            >
              Puertas instaladas <br class="hidden md:block" />
               en LatinoAmérica
            </p>
          </div>
        </div>
        <div class="pt-8">
          <a
            href="/productosv2"
            class="py-2 px-6 bg-black rounded-full text-[#ffce00] flex items-center gap-2 w-fit hover:scale-110 hover:underline transition-all uppercase [&:hover>img]:animate-spin [&:hover>img]:animate-once [&:hover>img]:animate-duration-500 [&:hover>img]:ease-in-out"
          >
            <!-- <svg
              class="icon icon-tabler icon-tabler-chevron-right"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 6l6 6l-6 6"></path>
            </svg> -->
            <img src="/assets/icono-flecha.png" class="w-3" alt="" />
             conoce nuestros productos aquí</a
          >
        </div>
      </article>
      <article
        class="flex flex-row self-end justify-between items-center mr-10"
      >
        <p class="text-white text-lg text-center uppercase opacity-70">
          Marcas que han confiado en nosotros:
        </p>
        <!-- <div
          class="flex flex-col lg:flex-row items-center justify-center gap-10 [&>img]:h-16 md:[&>img]:h-12 py-8 [&>img]:opacity-40"
        >
          
          <img src="/assets/logos/walmart.png" alt="logo walmart" />
        </div> -->
        <div class="swiper mySwiper">
          <div
            class="swiper-wrapper [&>div>img]:opacity-40"
          >
            <div class="swiper-slide">
              <img src="/assets/logos/bmw.png" alt="logo bmw" title="BMW" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/maserati.png" alt="logo maserati" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/homedepot.png" alt="logo home depot" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/seat.png" alt="logo seat" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/soriana.png" alt="logo soriana" />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/logos/palacio-de-hierro.png"
                alt="logo palacio de hierro"
              />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/liverpool.png" alt="logo liverpool" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/bmw.png" alt="logo bmw" title="BMW" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/maserati.png" alt="logo maserati" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/homedepot.png" alt="logo home depot" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/seat.png" alt="logo seat" />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/soriana.png" alt="logo soriana" />
            </div>
            <div class="swiper-slide">
              <img
                src="/assets/logos/palacio-de-hierro.png"
                alt="logo palacio de hierro"
              />
            </div>
            <div class="swiper-slide">
              <img src="/assets/logos/liverpool.png" alt="logo liverpool" />
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    slot="ajax"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"
    slot="tween"></script>
</Layout>
<style>
  .swiper {
    width: 1300px;
  }

  .swiper-slide {
    height: 90px;
    width: auto;
  }
  .swiper-slide img {
    height: 90px;
    object-fit: contain;
    display: flex;
    margin: 0 auto;
    justify-items: center;
  }
  .counter-bg {
    position: relative;
  }
  .counter-bg::before {
    content: "";
    background-image: url("/assets/background_home.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
  }
</style>
<script>
  var swiper = new Swiper(".mySwiper", {
      watchSlidesProgress: true,
      slidesPerView: 7,
      loop: true,
      autoplay: {
          delay: 2500,
          disableOnInteraction: false,
         
        }
    });
</script>