---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="SAP"
  HomeState="active"
  ProductosState=""
  GaleriaState=""
  ServiciosState=""
  CatalogoState=""
  NosotrosState=""
  OficinasState=""
  ContactoState=""
  BgBody="no"
>
  <main class="w-full h-full relative overflow-hidden">
    <section class="absolute top-0 left-0 w-full h-full z-50 bg-black/80 ">
      <article class="w-full">
        <div
          class=" mt-28 md:mt-48 lg:mt-40 2xl:mt-60 2xl:mb-20 md:mb-12 mb-8 flex flex-col self-center items-center justify-center"
        >
          <div
            class="md:inline-flex flex flex-col md:flex-row items-center md:[&>span]:p-4  [&>span]:p-2 [&>span]:tracking-wider [&>img]:p-4 text-center"
          >
            <span
              class="lg:mr-4 font-[oswald] text_border_convert text-4xl lg:text-5xl 2xl:text-6xl font-extrabold"
              >SEGURIDAD</span
            >
            <img
              src="/assets/arrow_right.png"
              alt="flecha direccion"
              class="md:w-14 lg:w-[3.8rem] 2xl:w-[4.5rem] hidden md:block"
            />
            <span
              class="lg:mr-4 font-[oswald] text-[#ffce00]  text-4xl lg:text-5xl 2xl:text-6xl font-extrabold"
              >CALIDAD</span
            >
            <img
              src="/assets/arrow_right.png"
              alt="flecha direccion"
              class="md:w-14 lg:w-[3.8rem] 2xl:w-[4.5rem] hidden md:block"
            />
            <span
              class="font-[oswald] text_border_convert  text-4xl lg:text-5xl 2xl:text-6xl font-extrabold"
              >PRESTIGIO</span
            >
          </div>
          <div class="2xl:w-[50rem] md:w-[40rem] px-8">
            <img src="/assets/linea.png" alt="divider line" />
          </div>
          <div class="text-center px-8 md:mt-8">
            <h1 class="text-white text-xl mb-2 font-bold font-[oswald]">
              SOLUCIONES EN ACCESOS
            </h1>
            <p class="text-white md:text-xl font-ligth text-center lg:text-left">
              Somos <span class="text-[#ffce00]">número uno</span> en puertas automáticas
              en todo México y el Caribe. 
            </p>
            <p class="text-white md:text-xl font-ligth">
              Conoce nuestros productos aquí.
            </p>
          </div>
          
        </div>

        <section class="md:mx-40 md:mt-8 2xl:mt-32 px-8 grid lg:grid-cols-4 grid-cols-2  lg:grid-rows-1">
          <div>
            <a href="/producto/puertas-giratorias">
              <img
                src="/assets/puerta-servicio.webp"
                alt="Maria Isabel Hotel"
                class="img-transform"
              /></a
            >
          </div>
          <div>
            <a href="/producto/puertas-corredizas"
              ><img
                src="/assets/TorreMayor.jpg"
                alt="Torre Mayor Entrada"
                class="img-transform"
              /></a
            >
          </div>
          <div>
            <a href="/producto/puertas-batientes">
              <img
                src="/assets/puerta-TorreMayor.jpg"
                alt="Torre Mayor puerta"
                class="img-transform"
              /></a
            >
          </div>
          <div>
            <a href="/producto/puertas-telescopicas"
              ><img
                src="/assets/puerta-two-TorreMayor.jpg"
                alt="Torre Mayor puerta 2"
                class="img-transform"
              /></a
            >
          </div>
        </section>
      </article>
    </section>

    <section
      id="animation-carousel"
      class="relative w-full h-[650px] min-h-screen"
      data-carousel="slide"
    >
      <!-- Carousel wrapper -->
      <div class="relative h-full overflow-hidden rounded-lg">
        <!-- Item 1 -->
        <div class="hidden duration-300 ease-linear" data-carousel-item>
          <img
            src="/assets/background_home.png"
            class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="background"
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-300 ease-linear" data-carousel-item>
          <img
            src="/assets/background_home_2.png"
            class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="background 2.."
          />
        </div>
        <!-- Item 3 -->
        <div
          class="hidden duration-300 ease-linear"
          data-carousel-item="active"
        >
          <img
            src="/assets/background_home_3.png"
            class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="background 3.."
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
