---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="SAP"
  HomeState=""
  ProductosState=""
  ServiciosState=""
  CatalogoState=""
  NosotrosState="active"
  OficinasState=""
  ContactoState=""
  BgBody="yes"
>
  <main class="w-full h-full  top-0 left-0 flex">
    <section
      class="flex flex-col items-center mx-auto max-w-[1150px] h-full pt-[8rem]"
    >
      <article class="mb-12">
        <h2 class="uppercase text-6xl font-extrabold text-[#ffce00] text-left">
          nosotros
        </h2>
        <p class="text-white text-lg mt-6">
          Desde 1991, Sistemas Automáticos Peatonales se ha destacado,por ser
          una empresa de líderes comprometidos con la innovación y servicio.
          Nuestra experiencia y compromiso veran Soluciones estéticas y
          funcionales para todos tus accesos.
        </p>
        <p class="text-white text-lg mt-6">
          Somos distribuidores autorizados y exclusivos en la República
          Mexicana, Centroamérica y el Caribe de <span
            class="text-[#ffce00] font-bold">Stanley Access Technologies</span
          >. Mantenemos un stock de refacciones que garantizan el funcionamiento
          de nuestros equipos de por vida, y contamos con un equipo de
          asistencia de proyectos a tu disposición
        </p>
        <div class="w-[55rem] mx-auto my-8">
          <img src="/assets/linea.png" alt="linea divisora" />
        </div>
        <img src="/assets/stanley-logo.png" alt="stanley logo" />
        <h2
          class="text_border_convert text-6xl font-bold uppercase text-left mt-6"
        >
          DISTRIBUIDOR AUTORIZADO
        </h2>
        <p class="text-white text-lg mt-10">
          Exclusivo en la República Mexicana, Centroamérica y el Caribe de
          Stanley Access Technologies. Contamos con un stock de refacciones que
          garantizan el funcionamiento de nuestros equipos de por vida, así como
          un departamento de asistencia de proyectos a sus órdenes.
        </p>
      </article>
    </section>
  </main>
</Layout>
