---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SAP | Nosotros" BgBody="no" url="/assets/background_home.png">
  <Navbar
    HomeState=""
    ProductosState=""
    GaleriaState=""
    ServiciosState=""
    CatalogoState=""
    NosotrosState="active"
    OficinasState=""
    ContactoState=""
  />
  <main
    class="lg:w-full min-h-screen top-0 left-0 flex bg-[url(/assets/home/us-background.png)] bg-center bg-cover bg-fixed"
  >
    <section
      class="flex flex-col pl-16 h-full 2xl:pt-60 pt-28 md:pt-40 lg:pt-28  w-screen min-h-screen"
    >
      <article class="mb-12 w-96 md:w-[700px] lg:w-[980px] 2xl:w-[1150px] px-6">
        <h2
          class="uppercase text-5xl 2xl:text-6xl font-semibold text-[#ffce00] text-left font-[oswald]"
        >
          nosotros
        </h2>
        <div class="w-[860px]">
          <p class="text-white text-lg font-medium mt-6">
            Desde 1991, Sistemas Automáticos Peatonales se ha destacado, por ser
            una empresa de líderes comprometidos con la innovación y servicio.
            Nuestra experiencia y compromiso veran Soluciones estéticas y
            funcionales para todos tus accesos.
          </p>
          <p class="text-white text-lg font-medium mt-6">
            Somos distribuidores autorizados y exclusivos en la República
            Mexicana, Centroamérica y el Caribe de <span
              class="text-[#ffce00] font-bold">Stanley Access Technologies</span
            >. Mantenemos un stock de refacciones que garantizan el
            funcionamiento de nuestros equipos de por vida, y contamos con un
            equipo de asistencia de proyectos a tu disposición
          </p>
        </div>
        <div class="my-8">
          <img src="/assets/home/line.png" alt="linea divisora" />
        </div>
        <img
          src="/assets/stanley-logo.png"
          alt="stanley logo"
          class="w-64 "
        />
        <h2
          class="text_border_convert text-5xl 2xl:text-6xl font-bold uppercase text-left mt-6 font-[oswald]"
        >
          DISTRIBUIDOR AUTORIZADO
        </h2>
        <p class="text-white text-lg font-medium mt-6">
          Exclusivo en la República Mexicana, Centroamérica y el Caribe de
          Stanley Access Technologies. Contamos con un stock de refacciones que
          garantizan el funcionamiento de nuestros equipos de por vida, así como
          un departamento de asistencia de proyectos a sus órdenes.
        </p>
      </article>
    </section>
  </main>
</Layout>
