---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import DoorCard from "../components/products/DoorCard.astro";

let doors = [
  {
    title: "giratorias",
    imageUrl: "/assets/portadas/giratoria.webp",
    imageAlt: " puerta giratoria",
    url: "/producto/puertas-giratorias",
  },
  {
    title: "corredizas",
    imageUrl: "/assets/portadas/corrediza.jpg",
    imageAlt: " puerta corrediza",
    url: "/producto/puertas-corredizas",
  },
  {
    title: "batientes",
    imageUrl: "/assets/puertas/puerta-batiente.jpg",
    imageAlt: " puerta batiente",
    url: "/producto/puertas-batientes",
  },
  {
    title: "telescopicas",
    imageUrl: "/assets/portadas/telescopica.png",
    imageAlt: "puerta telescópica",
    url: "/producto/puertas-telescopicas",
  },
  {
    title: "plegadizas",
    imageUrl: "/assets/portadas/plegadiza.jpg",
    imageAlt: "puerta plegadiza",
    url: "/producto/puertas-plegadizas",
  },
  {
    title: "icu",
    imageUrl: "/assets/portadas/icu.jpeg",
    imageAlt: "puerta icu",
    url: "/producto/puertas-icu",
  },
  {
    title: "seguridad",
    imageUrl: "/assets/portadas/seguridad.png",
    imageAlt: "puerta plegadiza",
    url: "/producto/puertas-de-seguridad",
  },
  {
    title: "curvas",
    imageUrl: "/assets/portadas/curva.jpg",
    imageAlt: "puertas estilo curvo",
    url: "/producto/curvas",
  },
  {
    title: "torniquetes",
    imageUrl: "/assets/puertas/puerta-telescopica.jpg",
    imageAlt: "torniquete",
    url: "/producto/torniquetes",
  },
  {
    title: "huella digital",
    imageUrl: "/assets/portadas/huella.png",
    imageAlt: "huella digital",
    url: "/producto/huella-digital",
  },
  {
    title: "magneticas",
    imageUrl: "/assets/portadas/magnetica.png",
    imageAlt: "chapas magneticas",
    url: "/producto/chapas-magneticas",
  },
  {
    title: "iris",
    imageUrl: "/assets/portadas/iris.png",
    imageAlt: "sistema de entrada con iris",
    url: "/producto/iris",
  },

  {
    title: "teclado digital",
    imageUrl: "/assets/portadas/teclado-digital.png",
    imageAlt: "sistema de teclado digital y lectores de tarjetas",
    url: "/producto/teclado-digital-y-lectores-de-tarjetas",
  },
];
---

<Layout
  title="Productos v2"
  BgBody="no"
  url=""
>
  <Navbar
    HomeState=""
    ProductosState="active"
    GaleriaState=""
    ServiciosState=""
    CatalogoState=""
    NosotrosState=""
    OficinasState=""
    ContactoState=""
    slot="header"
  />
  <main class="pt-28 px-10 md:py-60 md:px-[4.5rem] bg-[url(/assets/home/background_products.jpg)] bg-no-repeat bg-cover bg-[70%] bg-opacity-90 min-h-screen bg-fixed">
    <article class="max-w-[70rem]">
      <h1
        class="text-[#ffce00] text-5xl md:text-6xl uppercase mb-9 font-[oswald] font-semibold"
      >
        productos
      </h1>
      <p class="text-white text-lg md:text-2xl leading-snug">
        Ofrecemos soluciones personalizadas, seguras y automatizadas para tu
        negocio. Como líderes en puertas automáticas de cristal en todo México y
        el Caribe, nuestros productos están diseñados para brindar seguridad y
        accesibilidad total. Entendemos que cada negocio es único, por eso
        personalizamos nuestras soluciones para adaptarse perfectamente a tus
        necesidades.
      </p>
    </article>
    <section class="mt-10 grid md:grid-cols-2 lg:grid-cols-3 mb-28 gap-10">
      {
        doors.map((door) => (
          <DoorCard
            title={door.title}
            imageUrl={door.imageUrl}
            imageAlt={door.imageAlt}
            url={door.url}
          />
        ))
      }
    </section>
  </main>

</Layout>
