---
import LayoutThree from "../layouts/LayoutThree.astro";
---

<LayoutThree
  title="SAP"
  HomeState=""
  ProductosState="active"
  ServiciosState=""
  CatalogoState=""
  NosotrosState=""
  OficinasState=""
  ContactoState=""
  BgBody="yes"
>
  <main class="w-full min-h-screen h-full flex pt-36 justify-center bg-black/60">
    <h1 class="text-white">HOLA</h1>
  </main>
</LayoutThree>
