---
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios" BgBody="no" url="">
  <Navbar
    HomeState=""
    ProductosState=""
    GaleriaState=""
    ServiciosState="active"
    CatalogoState=""
    NosotrosState=""
    OficinasState=""
    ContactoState=""
    slot="header"
  />
  <main
    class="w-screen min-h-screen bg-[url(/assets/home/service-background.png)] bg-cover bg-no-repeat bg-center pt-32 px-8 pb-20 lg:pt-48 lg:pl-20 lg:pb-20"
  >
    <article class="mb-12">
      <h2
        class="uppercase mb-2 lg:text-6xl text-4xl font-semibold text-[#ffce00] text-left font-[oswald]"
      >
        servicios
      </h2>
      <h2
        class="text-white lg:text-6xl text-4xl font-semibold font-[oswald] uppercase"
      >
        y garantía
      </h2>
    </article>
    <section class="flex flex-col extra-large xl:w-[calc(100vw-10rem)]">
      <section
        class="grid gap-10 lg:grid-cols-2 xl:flex xl:flex-wrap xl:justify-between xl:gap-y-10"
      >
        <Card
          title="GARANTÍA"
          src="/assets/icono-garantia.png"
          alt="icono de garantia"
        >
          <div class="">
            <p
              class="text-white mb-4 text-lg leading-6 animate-fade animate-duration-300 animate-delay-300"
            >
              Instalar nuestro operador de baja energía «Magic Access» para
              puertas batientes manuales dando como resultado una entrada
              eficiente sin barreras.
            </p>
            <p
              class="text-white mb-4 text-lg leading-6 animate-fade animate-duration-300 animate-delay-300"
            >
              Reemplazar sistemas de puertas ineficientes u obsoletos por
              nuevos.
            </p>
          </div>
        </Card>
        <Card
          title="PÓLIZA"
          src="/assets/icono-poliza.png"
          alt="icono de poliza"
        >
          <div class="">
            <p
              class="text-white mb-4 text-lg leading-6 animate-fade animate-duration-300 animate-delay-300"
            >
              Póliza de servicio para mantener sus equipos funcionando en
              perfectas condiciones.
            </p>
            <p
              class="text-white mb-4 text-lg leading-6 animate-fade animate-duration-300 animate-delay-300"
            >
              Incluyen visitas mensuales.
            </p>
          </div>
        </Card>
        <Card
          title="REPARACIONES"
          src="/assets/icono-reparaciones.png"
          alt="icono de reparaciones"
        >
          <div class="">
            <p
              class="text-white mb-4 text-lg leading-6 animate-fade animate-duration-300 animate-delay-300"
            >
              Reparaciones de los principales sistemas inteligentes de acceso.
              tales como Stanley, Dynalock, BEA, SUKEREID, IRIS ID entre otros.
            </p>
          </div>
        </Card>
      </section>
      <div class="xl:self-end flex pt-6">
        <a
          href="#"
          class="self-end py-2 px-6 bg-[#ffce00] rounded-full text-black text-2xl font-black flex items-center gap-2 w-fit hover:scale-110 hover:underline transition-all [&:hover>img]:animate-spin [&:hover>img]:animate-once [&:hover>img]:animate-duration-300 [&:hover>img]:ease-in-out"
        >
          <img src="/assets/home/arrow-black.png" class="w-4" alt="" />
           Descubre más aquí</a
        >
      </div>
    </section>
  </main>
</Layout>
<style>
  @media (min-width: 1750px) {
    .extra-large {
      width: calc(100vw - 25rem);
    }
  }
</style>
