
<div class="swiper mySwiper2 mt-14 h-[380px] lg:h-[400px] 2xl:h-[700px] md:w-[880px] 2xl:w-[1450px] mb-10">
    <div class="swiper-wrapper">
        <slot name="item-swiper"/>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>




<style>

    .swiper-button-next{
        color: #ffffff;
        --swiper-navigation-size: 44px;
    } 
    .swiper-button-prev{
        color: #ffffff;
        --swiper-navigation-size: 44px;
    }
   

    .swiper-pagination{
        --swiper-pagination-color: #ffce00;
    } 
</style>
<script>
    var swiper = new Swiper(".mySwiper2", {
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      loop: true,
      // autoplay: {
      //     delay: 2500,
      //     disableOnInteraction: false,
      //     pauseOnMouseEnter: true
      //   }
      
    });
  </script>