---
interface Props {
  number: string;
  message: string;
  
}
const { number, message } = Astro.props;
---

<a
  href=`https://api.whatsapp.com/send?phone=${number}&text=${message}`
  target="_blank"
  class="lg:hidden"
>
  <slot name="svg" />
  
</a>