---
interface Props {
  imgUrl: string;
  altData: string;
}
const { imgUrl, altData } = Astro.props;
---

<div class="swiper-slide w-20">
  <img src={imgUrl} alt={altData} class="swiper-slide-img" />
</div>

<style>
  .swiper-slide {
    width: 300px;
    height: 350px;
  }
  .swiper-slide-img {
    display: block;
    object-fit: cover;
    object-position: center;
  }
</style>
