---
interface Props {
  title: string;
  address: string;
  phone: string;
  urlMaps: string;
}

const { title, address, phone, urlMaps } = Astro.props;
---

<div class="flex flex-col mr-[3rem] mb-2 w-[390px]">
  <div class="mb-5 flex bg-[#ffcc00f1] px-4 py-2">
    <span class="text-black font-black text-3xl mr-2">»</span>
    <h2
      class="text-xl font-black text-black animate-fade-down animate-duration-[400ms] font-[oswald] self-center"
    >
      <a href={urlMaps} target="_blank" class="hover:underline">{title}</a>
    </h2>
  </div>
  <div class="w-[350px] pl-10">
    <p
      class="text-[#fff] mb-2 animate-fade animate-duration-300 animate-delay-[500ms] text-xl font-semibold"
    >
      {address}
    </p>
    <p
      class="text-[#fff] text-xl mb-2 animate-fade animate-duration-300 animate-delay-[500ms]"
    >
      <span class="font-semibold">Tel :</span>
      {phone}
    </p>
  </div>
</div>
