---
import "@fontsource/roboto/";
import "@fontsource-variable/oswald";


interface Props {
  title: string;
  BgBody: string;
  doorCategory: string;

  giratoriaState: string;
  corredizaState: string;
  batienteState: string;
  telescopicaState: string;
  plegadizaState: string;
  seguridadState: string;
  torniqueteState: string;
  huellaDigitalState: string;
  magneticaState: string;
  irisState: string;
  curvaState: string;
  tecladoDandLectorTarjetaState: string;
  
}

const {
  title,
  BgBody,
  doorCategory,

  giratoriaState,
  corredizaState,
  batienteState,
  telescopicaState,
  plegadizaState,
  seguridadState,
  torniqueteState,
  huellaDigitalState,
  magneticaState,
  irisState,
  curvaState,
  tecladoDandLectorTarjetaState,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
  </head>
  <body class={BgBody == "yes" ? "bg-body" : "non-bg-body"}>
    <header
      class="flex items-center sticky top-0 w-full justify-between z-[100] bg-black/70 transition ease-in-out duration-300"
      id="landing-header"
    >
      <div class="w-[150px]">
        <a href="/"
          ><img
            src="/assets/logo.svg"
            alt="logo sap"
            class="object-contain w-full"
          /></a
        >
        
      </div>
      <nav>
        <ul
          class="flex [&>li>a]:px-5 [&>li>a]:py-4 px-10 [&>li>a]:font-semibold uppercase text-white"
        >
          <li>
            <a class="no-active-tab" href="/">Home</a>
          </li>
          <li>
            <a class="active-tab" href="/productos">Productos</a>
          </li>
          <li>
            <a class="no-active-tab" href="/servicios">Servicios</a>
          </li>
          <li>
            <a class="no-active-tab" href="/catalogo">CATÁLOGO</a>
          </li>
          <li>
            <a class="no-active-tab" href="/nosotros">Nosotros</a>
          </li>
          <li>
            <a class="no-active-tab" href="/oficinas">Oficinas</a>
          </li>
          <li>
            <a class="no-active-tab" href="/contacto">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flex flex-row min-h-screen justify-center bg-black/70">
      <section class="flex flex-row items-start pb-12">
        <aside class="fixed mt-0 w-[320px] p-4">
          <header class="mb-4 pt-2">
            <a href="/productos"
              ><h1
                class="text-5xl font-extrabold text_border_convert text-center uppercase font-[oswald]"
              >
                productos
              </h1></a
            >
          </header>
          <div class="p-4 flex flex-col items-center">
            <nav class="[&>ul>li>a]:text-sm [&>ul>li>a]:uppercase">
              <ul class="[&>li]:py-4 [&>li>a]:px-2 [&>li>a]:py-4">
                <li>
                  <a
                    href="/producto/puertas-giratorias"
                    class={giratoriaState == "active"
                      ? "active-tab"
                      : "no-active-tab"}>Puertas giratorias</a
                  >
                </li>
                <li>
                  <a
                    href="/producto/puertas-corredizas"
                    class={corredizaState == "active"
                      ? "active-tab"
                      : "no-active-tab"}>Puertas corredizas</a
                  >
                </li>
                <li>
                  <a
                    href="/producto/puertas-batientes"
                    class={batienteState == "active"
                      ? "active-tab"
                      : "no-active-tab"}>Puertas batientes</a
                  >
                </li>
                <li>
                  <a
                    href="/producto/puertas-telescopicas"
                    class={telescopicaState == "active"
                      ? "active-tab"
                      : "no-active-tab"}>Puertas telescópicas</a
                  >
                </li>
                <li>
                  <a href="/producto/puertas-plegadizas" class={ plegadizaState == "active" ? "active-tab"
                  : "no-active-tab" }>Puertas plegadizas</a>
                </li>
                <li><a href="/producto/puertas-de-seguridad" class={ seguridadState == "active" ? "active-tab"
                  : "no-active-tab" }>puertas de seguridad</a></li>
                <li><a href="/producto/torniquetes" class={ torniqueteState == "active" ? "active-tab"
                  : "no-active-tab" }>torniquetes</a></li>
                <li><a href="/producto/huella-digital" class={ huellaDigitalState == "active" ? "active-tab"
                  : "no-active-tab" }>huella digital</a></li>
                <li><a href="/producto/chapas-magneticas" class={ magneticaState == "active" ? "active-tab"
                  : "no-active-tab" }>chapas magnéticas</a></li>
                <li><a href="/producto/iris" class={ irisState == "active" ? "active-tab"
                  : "no-active-tab" }>iris</a></li>
                <li><a href="/producto/curvas" class={ curvaState == "active" ? "active-tab"
                  : "no-active-tab" }>curvas</a></li>
                <li><a href="/producto/teclado-digital-y-lectores-de-tarjetas" class={ tecladoDandLectorTarjetaState == "active" ? "active-tab"
                  : "no-active-tab" }>teclado digital y lectores de tarjetas</a></li>
              </ul>
            </nav>
          </div>
        </aside>

        <section class="ml-[320px] pl-1 pt-6 pr-24">
          <div class="flex mb-12">
            <img
              src="/assets/icono-flecha.png"
              alt="flecha veloz"
              class={"object-contain mr-4 " +
                (doorCategory == "Puertas corredizas"
                  ? " animate-fade-left animate-once animate-delay-500 animate-duration-300 animate-ease-out"
                  : doorCategory == "Puertas giratorias"
                  ? "animate-spin animate-once animate-delay-0 animate-duration-300 animate-ease-out "
                  : "")}
            />
            <h1
              class="text-5xl hover:-translate-x-80  font-extrabold text-[#ffce00] uppercase font-[oswald] animate-fade-right animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal"
            >
              {doorCategory}
            </h1>
          </div>
          <slot />
        </section>
      </section>

      

    </main>


    <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
      ></script>
    <slot name="script"/>
  </body>
  <style is:global>

    .active-tab {
      color: #ffce00;
      background-color: #ffffff08;
      border-radius: 5px;
    }
    .no-active-tab {
      color: #fff;
    }
    .no-active-tab:hover {
      color: #ffce00;
    }
    .scrolled {
      background-color: #00000080;
      backdrop-filter: saturate(180%) blur(12px);
      transition: background-color 0.4s ease-in-out;
    }
    .sap__text__slogan {
      backdrop-filter: blur(1px);
    }
    .text_border_convert {
      -webkit-text-stroke: 2px #fff;
      color: transparent;
    }
    .sap__text__slogan span {
      font-size: 4rem;
      font-weight: 900;
      -webkit-text-stroke: 2px #fff;
      color: transparent;
      letter-spacing: 2px;
    }
    .img-transform {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .img-transform:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    .bg-body {
      background-image: url(/assets/background_home_2.png) !important;
      background-color: #000000;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .non-bg-body {
      background-color: #000000;
    }

  </style>
  <script>

    addEventListener("scroll", () => {
      const header = document.getElementById("landing-header");
      const scroll = window.scrollY;
      if (scroll > 0) {
        header.classList.add("scrolled");
      } else {
        header.classList.remove("scrolled");
      }
    });
    // Internet Explorer
    window.onload = function () {
      document.onselectstart = function () {
        return false;
      };
      // Firefox
      document.onmousedown = function () {
        return false;
      };
    };
  </script>
</html>
