---
import "@fontsource/roboto/";
import "@fontsource-variable/oswald";
import { ViewTransitions } from "astro:transitions";
import IconButtomM from "../components/IconButtomM.astro";
import IconButtom from "../components/IconButtom.astro";

interface Props {
  title: string;
  doorCategory: string;

  giratoriaState: string;
  corredizaState: string;
  batienteState: string;
  telescopicaState: string;
  plegadizaState: string;
  seguridadState: string;
  torniqueteState: string;
  huellaDigitalState: string;
  magneticaState: string;
  irisState: string;
  curvaState: string;
  tecladoDandLectorTarjetaState: string;
  icuState: string;
}

const {
  title,
  doorCategory,
  giratoriaState,
  corredizaState,
  batienteState,
  telescopicaState,
  plegadizaState,
  seguridadState,
  torniqueteState,
  huellaDigitalState,
  magneticaState,
  irisState,
  curvaState,
  tecladoDandLectorTarjetaState,
  icuState,
} = Astro.props;
---

<!doctype html>
<html lang="es" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sistemas automaticos peatonales | Número uno en puertas
    automáticas en todo México y el Caribe."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <header>
      <nav
        class="fixed top-0 lg:top-0 py-2 lg:py-4 z-50 w-full"
        id="landing-header"
      >
        <div class="px-3 py-3 lg:pl-0 lg:py-0 lg:pr-4">
          <div class="flex flex-wrap items-center justify-between">
            <div class="flex items-center justify-start">
              <button
                data-drawer-target="logo-sidebar"
                data-drawer-toggle="logo-sidebar"
                aria-controls="logo-sidebar"
                type="button"
                class="inline-flex items-center p-2 mr-4 text-sm text-white rounded-lg lg:hidden hover:bg-[#ffce00] focus:outline-none focus:ring-2 focus:ring-[#ffce00]"
              >
                <span class="sr-only">Open sidebar</span>
                <svg
                  class="w-7 h-7"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                  ></path>
                </svg>
              </button>
              <a href="/">
                <img
                  src="/assets/home/new-logo.png"
                  alt="logo sap"
                  class="h-16 2xl:h-20"
                />
              </a>
            </div>
            <button
              data-collapse-toggle="navbar-default"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-[#ffce00] mr-4"
              aria-controls="navbar-default"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-8 h-8"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"></path>
              </svg>
            </button>
            <div
              class="hidden w-full md:block md:w-auto bg-black md:bg-transparent lg:pr-4 sm:pr-2 [&>ul]:border-b-[1px] [&>ul]:border-white/20"
              id="navbar-default"
            >
              <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row 2xl:space-x-1 md:mt-0 lg:[&>li>a]:px-5 sm:[&>li>a]:px-3 md:[&>li>a]:py-4 [&>li>a]:block [&>li>a]:py-2 [&>li>a]:px-4 [&>li>a]:uppercase md:[&>li>a]:text-sm 2xl:[&>li>a]:text-base"
              >
                <li>
                  <a class="no-active-tab-nav" href="/">Inicio</a>
                </li>
                <li>
                  <a class="active-tab-nav" href="/productos">Productos</a>
                </li>
                <!-- <li>
                  <a
                    class="no-active-tab"
                    href="/galeria">galería</a
                  >
                </li> -->
                <li>
                  <a class="no-active-tab-nav" href="/servicios">Servicios</a>
                </li>
                <li>
                  <a class="no-active-tab-nav" href="/catalogo">CATÁLOGO</a>
                </li>
                <li>
                  <a class="no-active-tab-nav" href="/nosotros">Nosotros</a>
                </li>
                <li>
                  <a class="no-active-tab-nav" href="/oficinas">Oficinas</a>
                </li>
                <li>
                  <a class="no-active-tab-nav" href="/contacto">Contacto</a>
                </li>
              </ul>
            </div>
            <div class="w-56 flex items-center mr-20">
              <img
                src="/assets/home/stanley-2.png"
                alt=""
                class="hidden xl:block"
              />
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main
      class="flex flex-row min-h-screen overflow-hidden bg-[url(/assets/home/background_products.png)] bg-center bg-fixed"
    >
      <section
        class="flex flex-row items-start pb-12 pt-24 min-w-full w-screen"
      >
        <aside
          id="logo-sidebar"
          class="fixed top-0 left-0 z-40 w-72 h-screen py-20 md:pt-36 md:pb-10 lg:py-20 transition-transform -translate-x-full lg:translate-x-0 0 bg-black lg:bg-transparent"
          aria-label="Sidebar"
        >
          <div class="w-full h-full px-5 py-4 lg:px-3 lg:py-5 overflow-y-auto">
            <ul
              class="[&>li>a]:uppercase [&>li>a]:px-4 [&>li>a]:py-2 [&>li]:py-1 lg:[&>li>a]:p-1 lg:[&>li]:py-1 2xl:[&>li>a]:p-2 lg:pl-6 lg:pt-4 [&>li>a]:block"
            >
              <li>
                <header
                  class="py-4 md:pt-3 lg:py-2 2xl:py-0 2xl:pb-2 px-4 md:px-0"
                >
                  <a href="/productos"
                    ><h1
                      class="text-[2.5rem] md:text-5xl font-extrabold text_border_convert uppercase font-[oswald]"
                    >
                      productos
                    </h1></a
                  >
                </header>
              </li>
              <li>
                <a
                  href="/producto/puertas-giratorias"
                  class={giratoriaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>Puertas giratorias</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-corredizas"
                  class={corredizaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>Puertas corredizas</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-batientes"
                  class={batienteState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>Puertas batientes</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-telescopicas"
                  class={telescopicaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>Puertas telescópicas</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-plegadizas"
                  class={plegadizaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>Puertas plegadizas</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-icu"
                  class={icuState == "active" ? "active-tab" : "no-active-tab"}
                  >Puertas ICU</a
                >
              </li>
              <li>
                <a
                  href="/producto/curvas"
                  class={curvaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>puertas curvas</a
                >
              </li>
              <li>
                <a
                  href="/producto/puertas-de-seguridad"
                  class={seguridadState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>puertas de seguridad</a
                >
              </li>
              <li>
                <a
                  href="/producto/torniquetes"
                  class={torniqueteState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>torniquetes</a
                >
              </li>
              <li>
                <a
                  href="/producto/huella-digital"
                  class={huellaDigitalState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>huella digital</a
                >
              </li>
              <li>
                <a
                  href="/producto/chapas-magneticas"
                  class={magneticaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>chapas magnéticas</a
                >
              </li>
              <li>
                <a
                  href="/producto/iris"
                  class={irisState == "active" ? "active-tab" : "no-active-tab"}
                  >iris</a
                >
              </li>
              <li>
                <a
                  href="/producto/teclado-digital-y-lector-de-tarjetas"
                  class={tecladoDandLectorTarjetaState == "active"
                    ? "active-tab"
                    : "no-active-tab"}>teclado digital y lector de tarjetas</a
                >
              </li>
            </ul>
          </div>
        </aside>

        <section
          class="lg:ml-[290px] lg:w-[calc(100vw-300px)] 2xl:ml-[300px] px-6 lg:pl-2 pt-6 md:pt-20 lg:pt-8 2xl:pt-6 2xl:pr-24"
        >
          <div class="flex">
            <img
              src="/assets/icono-flecha.png"
              alt="flecha veloz"
              class={"object-contain mr-4 " +
                (doorCategory == "Puertas corredizas"
                  ? " animate-fade-left animate-once animate-delay-500 animate-duration-300 animate-ease-out"
                  : doorCategory == "Puertas giratorias"
                  ? "animate-spin animate-once animate-delay-0 animate-duration-300 animate-ease-out "
                  : "")}
            />
            <h1
              class="text-4xl md:text-5xl font-extrabold text-[#ffce00] uppercase font-[oswald] animate-fade-right animate-once animate-duration-500 animate-delay-300 animate-ease-out animate-normal"
            >
              {doorCategory}
            </h1>
          </div>
          <slot />
        </section>
      </section>
      <div
        class="fixed bottom-[30px] right-[12px] z-[100] [&>a:hover>svg]:scale-110"
      >
        <IconButtom
          number="525533964638"
          message="Hola, necesito refacciones de stanley.mx"
        >
          <svg
            slot="svg"
            class="w-16 z-50 animate-wiggle animate-duration-[3000ms] animate-infinite animate-ease-linear hover:animate-none"
            viewBox="0 0 540 540"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="270"
              cy="270"
              r="257.5"
              fill="#FFCC00"
              stroke="white"
              stroke-width="25"></circle>
            <path
              d="M405.555 368.226L402.456 365.127C378.574 341.245 334.927 297.598 298.756 261.399L369.633 190.522L384.819 191.584C384.93 191.59 385.042 191.593 385.15 191.593C386.863 191.593 388.459 190.665 389.298 189.149L412.421 147.47C413.451 145.62 413.127 143.313 411.626 141.816L398.236 128.428C396.742 126.931 394.431 126.607 392.581 127.633L350.902 150.76C349.29 151.653 348.343 153.401 348.47 155.238L349.532 170.419L278.656 241.295C260.545 223.184 246.471 209.11 241.194 203.834C248.384 182.942 243.149 159.774 227.39 144.015C211.854 128.482 189.252 123.075 168.395 129.909C168.322 129.935 168.262 129.973 168.188 130.001C168.112 130.03 168.045 130.065 167.972 130.097C167.448 130.326 166.984 130.634 166.59 131.015C166.567 131.037 166.539 131.041 166.517 131.063C166.488 131.092 166.478 131.13 166.453 131.158C166.065 131.565 165.757 132.029 165.534 132.541C165.503 132.611 165.477 132.681 165.452 132.754C165.264 133.25 165.159 133.774 165.147 134.318C165.147 134.391 165.147 134.458 165.15 134.531C165.159 134.985 165.213 135.44 165.363 135.894C165.388 135.97 165.43 136.034 165.458 136.107C165.484 136.177 165.519 136.244 165.55 136.311C165.782 136.835 166.088 137.299 166.469 137.693C166.491 137.715 166.498 137.747 166.52 137.769L189.052 160.302C191.201 162.45 192.383 165.301 192.386 168.333C192.389 171.363 191.21 174.207 189.068 176.35L177.768 187.652C173.344 192.073 166.145 192.061 161.72 187.636L139.188 165.104C139.166 165.082 139.137 165.079 139.118 165.056C138.724 164.675 138.257 164.367 137.733 164.135C137.659 164.103 137.593 164.068 137.52 164.039C137.446 164.011 137.383 163.969 137.31 163.947C136.862 163.801 136.407 163.747 135.959 163.737C135.883 163.734 135.81 163.731 135.733 163.734C135.193 163.747 134.669 163.852 134.173 164.039C134.103 164.065 134.036 164.09 133.966 164.122C133.451 164.345 132.984 164.656 132.577 165.047C132.548 165.072 132.514 165.082 132.485 165.107C132.463 165.13 132.459 165.158 132.437 165.177C132.056 165.571 131.748 166.035 131.519 166.56C131.487 166.633 131.452 166.703 131.423 166.779C131.395 166.852 131.357 166.916 131.331 166.989C124.52 187.859 129.923 210.461 145.437 225.978C156.546 237.083 171.332 242.979 186.411 242.979C192.723 242.979 199.074 241.88 205.237 239.763L229.132 263.662C228.716 263.63 228.315 263.541 227.896 263.541C223.392 263.541 219.155 265.295 215.973 268.48L131.935 352.509C128.747 355.694 126.993 359.931 126.993 364.435C126.993 368.938 128.747 373.175 131.935 376.36L139.23 383.658L139.233 383.664L139.239 383.667L163.691 408.122C166.876 411.307 171.113 413.062 175.617 413.062C180.124 413.062 184.36 411.307 187.542 408.122L271.574 324.087C274.762 320.902 276.517 316.666 276.517 312.162C276.517 311.745 276.428 311.345 276.396 310.932L369.591 404.187C374.54 409.136 381.043 411.609 387.556 411.609C394.065 411.609 400.581 409.136 405.552 404.187C410.345 399.398 412.984 393.018 412.984 386.223C412.987 379.405 410.345 373.016 405.555 368.226ZM357.771 175.599C357.793 175.577 357.799 175.545 357.821 175.523C358.209 175.119 358.518 174.652 358.743 174.134C358.772 174.071 358.804 174.013 358.829 173.95C359.02 173.46 359.118 172.933 359.134 172.386C359.137 172.307 359.144 172.23 359.14 172.148C359.14 172.068 359.153 171.995 359.147 171.916L358.146 157.59L394.056 137.665L402.39 146.002L382.464 181.912L368.139 180.907C368.056 180.901 367.98 180.917 367.9 180.914C367.827 180.914 367.757 180.917 367.684 180.92C367.137 180.933 366.61 181.035 366.117 181.225C366.044 181.254 365.981 181.289 365.907 181.321C365.408 181.543 364.951 181.842 364.557 182.217C364.525 182.246 364.487 182.255 364.455 182.284L275.484 271.258L268.796 264.571L357.771 175.599ZM209.912 231.022C208.609 229.659 206.562 229.147 204.706 229.903C186.595 237.252 165.957 233.082 152.137 219.265C141.102 208.226 136.21 192.9 138.492 177.824L155.007 194.343C159.076 198.408 164.416 200.442 169.755 200.442C175.086 200.442 180.416 198.414 184.472 194.359L195.771 183.059C199.706 179.124 201.871 173.896 201.867 168.33C201.864 162.768 199.693 157.533 195.752 153.595L179.227 137.07C194.296 134.775 209.623 139.67 220.677 150.722C234.288 164.332 238.515 184.55 231.602 202.457L226.637 207.454C224.79 209.31 224.803 212.314 226.659 214.16C227.584 215.082 228.795 215.54 230.003 215.54C231.224 215.54 232.441 215.073 233.369 214.138L235.718 211.777C241.668 217.727 255.037 231.095 271.943 248.001L262.064 257.88C259.502 255.429 256.168 254.06 252.615 254.06C248.953 254.06 245.511 255.487 242.923 258.074L239.942 261.055L209.912 231.022ZM159.747 390.758L149.299 380.308L221.828 307.779C224.619 304.988 229.488 304.988 232.279 307.779C235.162 310.658 235.162 315.343 232.279 318.226L159.747 390.758ZM264.874 317.381L180.839 401.413C178.054 404.197 173.185 404.197 170.401 401.413L166.453 397.465L238.985 324.933C245.565 318.353 245.565 307.648 238.985 301.069C235.797 297.881 231.561 296.123 227.053 296.123C222.543 296.123 218.306 297.878 215.122 301.069L142.589 373.601L138.642 369.65C137.249 368.255 136.48 366.402 136.48 364.431C136.48 362.461 137.249 360.608 138.642 359.212L222.674 275.177C224.066 273.785 225.919 273.016 227.889 273.016C229.863 273.016 231.716 273.782 233.108 275.177L264.871 306.939C266.263 308.332 267.032 310.185 267.032 312.155C267.035 314.132 266.266 315.985 264.874 317.381ZM275.267 290.418L268.516 297.169L242.882 271.538L249.636 264.787C251.226 263.198 254.004 263.194 255.599 264.787L258.708 267.892C258.717 267.902 258.72 267.918 258.733 267.93L272.127 281.324C272.137 281.334 272.153 281.337 272.165 281.35L275.274 284.458C276.911 286.102 276.911 288.775 275.267 290.418ZM398.855 397.471C392.622 403.676 382.505 403.679 376.304 397.478L278.996 300.106L281.977 297.124C287.247 291.855 287.295 283.343 282.171 277.984L292.05 268.105C328.224 304.308 371.87 347.951 395.75 371.834L398.849 374.933C401.846 377.93 403.499 381.938 403.499 386.22C403.499 390.479 401.846 394.477 398.855 397.471Z"
              fill="black"></path>
            <path
              d="M387.575 393.845C391.793 393.845 395.213 390.425 395.213 386.207C395.213 381.989 391.793 378.569 387.575 378.569C383.357 378.569 379.937 381.989 379.937 386.207C379.937 390.425 383.357 393.845 387.575 393.845Z"
              fill="black"></path>
          </svg>
        </IconButtom>
        <br />
        <IconButtom
          number="528331409986"
          message="Hola, estoy interesado en conocer mas sobre los productos de stanley.mx"
        >
          <svg
            slot="svg"
            class="icon w-16 icon-tabler icon-tabler-brand-whatsapp z-50 text-white animate-wiggle animate-duration-[3000ms] animate-infinite animate-ease-linear hover:animate-none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="#26D366"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
            <path
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            ></path>
          </svg>
        </IconButtom>
        <IconButtomM
          number="525533964638"
          message="Hola, necesito refacciones de stanley.mx"
        >
          <svg
            slot="svg"
            class="w-12 md:w-16 z-50 animate-wiggle animate-duration-[2000ms] animate-infinite animate-ease-linear hover:animate-none"
            viewBox="0 0 540 540"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="270"
              cy="270"
              r="257.5"
              fill="#FFCC00"
              stroke="white"
              stroke-width="25"></circle>
            <path
              d="M405.555 368.226L402.456 365.127C378.574 341.245 334.927 297.598 298.756 261.399L369.633 190.522L384.819 191.584C384.93 191.59 385.042 191.593 385.15 191.593C386.863 191.593 388.459 190.665 389.298 189.149L412.421 147.47C413.451 145.62 413.127 143.313 411.626 141.816L398.236 128.428C396.742 126.931 394.431 126.607 392.581 127.633L350.902 150.76C349.29 151.653 348.343 153.401 348.47 155.238L349.532 170.419L278.656 241.295C260.545 223.184 246.471 209.11 241.194 203.834C248.384 182.942 243.149 159.774 227.39 144.015C211.854 128.482 189.252 123.075 168.395 129.909C168.322 129.935 168.262 129.973 168.188 130.001C168.112 130.03 168.045 130.065 167.972 130.097C167.448 130.326 166.984 130.634 166.59 131.015C166.567 131.037 166.539 131.041 166.517 131.063C166.488 131.092 166.478 131.13 166.453 131.158C166.065 131.565 165.757 132.029 165.534 132.541C165.503 132.611 165.477 132.681 165.452 132.754C165.264 133.25 165.159 133.774 165.147 134.318C165.147 134.391 165.147 134.458 165.15 134.531C165.159 134.985 165.213 135.44 165.363 135.894C165.388 135.97 165.43 136.034 165.458 136.107C165.484 136.177 165.519 136.244 165.55 136.311C165.782 136.835 166.088 137.299 166.469 137.693C166.491 137.715 166.498 137.747 166.52 137.769L189.052 160.302C191.201 162.45 192.383 165.301 192.386 168.333C192.389 171.363 191.21 174.207 189.068 176.35L177.768 187.652C173.344 192.073 166.145 192.061 161.72 187.636L139.188 165.104C139.166 165.082 139.137 165.079 139.118 165.056C138.724 164.675 138.257 164.367 137.733 164.135C137.659 164.103 137.593 164.068 137.52 164.039C137.446 164.011 137.383 163.969 137.31 163.947C136.862 163.801 136.407 163.747 135.959 163.737C135.883 163.734 135.81 163.731 135.733 163.734C135.193 163.747 134.669 163.852 134.173 164.039C134.103 164.065 134.036 164.09 133.966 164.122C133.451 164.345 132.984 164.656 132.577 165.047C132.548 165.072 132.514 165.082 132.485 165.107C132.463 165.13 132.459 165.158 132.437 165.177C132.056 165.571 131.748 166.035 131.519 166.56C131.487 166.633 131.452 166.703 131.423 166.779C131.395 166.852 131.357 166.916 131.331 166.989C124.52 187.859 129.923 210.461 145.437 225.978C156.546 237.083 171.332 242.979 186.411 242.979C192.723 242.979 199.074 241.88 205.237 239.763L229.132 263.662C228.716 263.63 228.315 263.541 227.896 263.541C223.392 263.541 219.155 265.295 215.973 268.48L131.935 352.509C128.747 355.694 126.993 359.931 126.993 364.435C126.993 368.938 128.747 373.175 131.935 376.36L139.23 383.658L139.233 383.664L139.239 383.667L163.691 408.122C166.876 411.307 171.113 413.062 175.617 413.062C180.124 413.062 184.36 411.307 187.542 408.122L271.574 324.087C274.762 320.902 276.517 316.666 276.517 312.162C276.517 311.745 276.428 311.345 276.396 310.932L369.591 404.187C374.54 409.136 381.043 411.609 387.556 411.609C394.065 411.609 400.581 409.136 405.552 404.187C410.345 399.398 412.984 393.018 412.984 386.223C412.987 379.405 410.345 373.016 405.555 368.226ZM357.771 175.599C357.793 175.577 357.799 175.545 357.821 175.523C358.209 175.119 358.518 174.652 358.743 174.134C358.772 174.071 358.804 174.013 358.829 173.95C359.02 173.46 359.118 172.933 359.134 172.386C359.137 172.307 359.144 172.23 359.14 172.148C359.14 172.068 359.153 171.995 359.147 171.916L358.146 157.59L394.056 137.665L402.39 146.002L382.464 181.912L368.139 180.907C368.056 180.901 367.98 180.917 367.9 180.914C367.827 180.914 367.757 180.917 367.684 180.92C367.137 180.933 366.61 181.035 366.117 181.225C366.044 181.254 365.981 181.289 365.907 181.321C365.408 181.543 364.951 181.842 364.557 182.217C364.525 182.246 364.487 182.255 364.455 182.284L275.484 271.258L268.796 264.571L357.771 175.599ZM209.912 231.022C208.609 229.659 206.562 229.147 204.706 229.903C186.595 237.252 165.957 233.082 152.137 219.265C141.102 208.226 136.21 192.9 138.492 177.824L155.007 194.343C159.076 198.408 164.416 200.442 169.755 200.442C175.086 200.442 180.416 198.414 184.472 194.359L195.771 183.059C199.706 179.124 201.871 173.896 201.867 168.33C201.864 162.768 199.693 157.533 195.752 153.595L179.227 137.07C194.296 134.775 209.623 139.67 220.677 150.722C234.288 164.332 238.515 184.55 231.602 202.457L226.637 207.454C224.79 209.31 224.803 212.314 226.659 214.16C227.584 215.082 228.795 215.54 230.003 215.54C231.224 215.54 232.441 215.073 233.369 214.138L235.718 211.777C241.668 217.727 255.037 231.095 271.943 248.001L262.064 257.88C259.502 255.429 256.168 254.06 252.615 254.06C248.953 254.06 245.511 255.487 242.923 258.074L239.942 261.055L209.912 231.022ZM159.747 390.758L149.299 380.308L221.828 307.779C224.619 304.988 229.488 304.988 232.279 307.779C235.162 310.658 235.162 315.343 232.279 318.226L159.747 390.758ZM264.874 317.381L180.839 401.413C178.054 404.197 173.185 404.197 170.401 401.413L166.453 397.465L238.985 324.933C245.565 318.353 245.565 307.648 238.985 301.069C235.797 297.881 231.561 296.123 227.053 296.123C222.543 296.123 218.306 297.878 215.122 301.069L142.589 373.601L138.642 369.65C137.249 368.255 136.48 366.402 136.48 364.431C136.48 362.461 137.249 360.608 138.642 359.212L222.674 275.177C224.066 273.785 225.919 273.016 227.889 273.016C229.863 273.016 231.716 273.782 233.108 275.177L264.871 306.939C266.263 308.332 267.032 310.185 267.032 312.155C267.035 314.132 266.266 315.985 264.874 317.381ZM275.267 290.418L268.516 297.169L242.882 271.538L249.636 264.787C251.226 263.198 254.004 263.194 255.599 264.787L258.708 267.892C258.717 267.902 258.72 267.918 258.733 267.93L272.127 281.324C272.137 281.334 272.153 281.337 272.165 281.35L275.274 284.458C276.911 286.102 276.911 288.775 275.267 290.418ZM398.855 397.471C392.622 403.676 382.505 403.679 376.304 397.478L278.996 300.106L281.977 297.124C287.247 291.855 287.295 283.343 282.171 277.984L292.05 268.105C328.224 304.308 371.87 347.951 395.75 371.834L398.849 374.933C401.846 377.93 403.499 381.938 403.499 386.22C403.499 390.479 401.846 394.477 398.855 397.471Z"
              fill="black"></path>
            <path
              d="M387.575 393.845C391.793 393.845 395.213 390.425 395.213 386.207C395.213 381.989 391.793 378.569 387.575 378.569C383.357 378.569 379.937 381.989 379.937 386.207C379.937 390.425 383.357 393.845 387.575 393.845Z"
              fill="black"></path>
          </svg>
        </IconButtomM>
        <br />
        <IconButtomM
          number="528331409986"
          message="Hola, estoy interesado en conocer mas sobre los productos de stanley.mx"
        >
          <svg
            slot="svg"
            class="w-12 md:w-16 icon-tabler icon-tabler-brand-whatsapp z-50 text-white animate-wiggle animate-duration-[2000ms] animate-infinite animate-ease-linear hover:animate-none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="#26D366"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
            <path
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            ></path>
          </svg>
        </IconButtomM>
      </div>
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <slot name="script" />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", "Helvetica";
  }
  .active-tab {
    color: #ffce00;
    border-bottom: #ffce00 1px solid;
  }

  .no-active-tab {
    color: #fff;
    border-bottom: transparent 1px solid;
  }
  .no-active-tab:hover {
    color: #ffce00;
    border-bottom: #ffce00 1px solid;
  }
  .active-tab-nav {
    color: #ffce00;
    border-bottom: #ffce00 solid 2px;
  }
  .no-active-tab-nav {
    color: #fff;
    border-bottom: transparent solid 2px;
    transition: all 0.15s linear;
  }
  .no-active-tab-nav:hover {
    color: #ffce00;
    border-bottom: #ffce00 solid 2px;
  }
  .scrolled {
    background-color: #00000080;
    backdrop-filter: saturate(180%) blur(12px);
    transition: background-color 0.4s ease-in-out;
  }
  .sap__text__slogan {
    backdrop-filter: blur(1px);
  }
  .text_border_convert {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .text_border_convert:hover{
    transform: scale(0.95);
  }
  .sap__text__slogan span {
    font-size: 4rem;
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    letter-spacing: 2px;
  }
  .img-transform {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .img-transform:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  .bg-body {
    background-image: url(/assets/background_home_2.png) !important;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  body {
    background-color: #000000;
  }
</style>
<script>
  addEventListener("scroll", () => {
    const header = document.getElementById("landing-header");
    const scroll = window.scrollY;
    if (scroll > 0) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  });
  // Internet Explorer
  window.onload = function () {
    document.onselectstart = function () {
      return false;
    };
    // Firefox
    document.onmousedown = function () {
      return false;
    };
  };
</script>
